
.App {
  padding: 50px;
  margin:0 auto;
  min-height: 100vh;
}
pre{
  border: solid 1px;
  border-left: solid 10px black !important;
}

.command{
  background-color: black;
  color: white;
  padding: 3px;
  margin-bottom: 5px;
  display: inline-block;

}